body {
    background-image: url('wallpaper3.jpg');
    background-size: cover;
    background-position: center;
    margin: 0;
    padding: 0;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    color: rgb(0, 0, 0);
    font-family: Arial, sans-serif;
}


.login-container {
    max-width: 400px;
    margin: 0 auto;
    padding: 30px;
    background-color: rgba(224, 224, 224, 0.697);
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  .login-container h2 {
    text-align: center;
    margin-bottom: 30px;
    font-size: 35px;
    
  }
  
  .login-container form > div{
    display:block;
    flex-direction: column;
    margin-bottom: 15px;
  }
  
  .login-container label {
    padding-top: 5px;
    font-weight:lighter;
    margin-bottom: 5px;
  }
  
  .login-container input {
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding-left: 10px;
    width: calc(100% - 20px);
  }
  
  .login-container button {
    padding: 8px 20px;
  }
  
  .login-container button:hover {
    background-color: #088f16;
  }
/*   
  .btn {
    width: 150px;
    height: 45px;
    cursor: pointer;
    background: transparent;
    border: 1px solid #91C9FF;
    outline: none;
    transition: 1s ease-in-out;
  }
  
  svg {
    position: relative;
    left: 0;
    top: 0;
    fill: none;
    stroke: #fff;
    stroke-dasharray: 150 480;
    stroke-dashoffset: 150;
    transition: 1s ease-in-out;
  }
  
  .btn:hover {
    transition: 1s ease-in-out;
    background: #4F95DA;
  }
  
  .btn:hover svg {
    stroke-dashoffset: -480;
  }
  
  .btn span {
    color: rgb(0, 0, 0);
    font-size: 15px;
    font-weight: 100;
  }
  
   */
  