.container {
    background-image: url('SignUpWallpaper.jpeg');
    background-size: cover;
    background-position: center;
    width: 100vw;
    height: 100vh;
    padding: 20px; 
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: white; 
    font-family: Arial, sans-serif; 
}
h2 {
    text-align: center;
    margin-bottom: 20px;
    font-size: 45px;
    letter-spacing:0.1em;
  }

.form-group {
    margin-bottom: 40px;
}

label {
    font-size: 20px;
    font-weight: bold;
}

input[type='text'],
input[type='email'],
input[type='password'] {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    border-radius: 5px;
    box-sizing: border-box;
    font-size: 16px;
}

button[type='submit'] {
    background-color: #28a745; /* Green color for submit button */
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease; /* Smooth transition for hover effect */
}

button[type='submit']:hover {
    background-color: #218838; /* Darker green color on hover */
}