.signup-container {
    font-family: Arial, sans-serif;
    max-width: 400px;
    margin:  auto;
    padding: 30px;
    background-color: rgba(224, 224, 224, 0.85);
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }

.form-group {
    margin-bottom: 12px;
}

label {
    font-size: 20px;
}

input[type='text'],
input[type='email'],
input[type='password'] {
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding-left: 10px;
    width: calc(100% - 20px);
}


