.signup-container {
    font-family: Arial, sans-serif;
    max-width: 400px;
    padding: 30px;
    background-color: rgba(33,37,41, 0.87);
    color: white;    
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    display: flex;
    backdrop-filter: blur(1px);
}

.signup-container input {
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding-left: 10px;
  width: calc(100% - 20px);
  background-color: rgba(85, 85, 85, 0.6); 
  color: white;
}

.form-group {
    margin-bottom: 12px;
}

label {
    font-size: 20px;
    float: left;
    margin-left: 10px
}

.input{
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding-left: 10px;
    width: calc(100% - 20px);
}
.error {
  color: red;
  display: block;
  margin-top: -20px; 
  margin-left: 15px; 
  text-align: left;
}

