.about-page {
    /* margin: 50px auto; */
    text-align: center;
    position:relative;
    background-color: transparent;
    height: 80vh;
    width: 100%;
}

.team-members {
    margin: 0 auto; 
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.member {
    padding: 20px;
    background-color: rgba(33,37,41, 0.9);
    color: white;
    border-radius: 10px;
    box-sizing: border-box; 
    flex: 1 0 21%; 
    margin: 1%;
    max-width: 24%;
    min-width: 200px;
    backdrop-filter: blur(1px);
}

.member h2 {
    font-size: 24px;
    margin-bottom: 10px;

}

.member p {
    font-size: 18px;
    color: rgba(114, 114, 114);
}

.member {
    transition: transform 0.3s ease;
}
