.about-page {
    margin: 50px auto;
    text-align: center;
}

.team-members {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.member {
    margin: 20px;
    padding: 20px;
    background-color: #efeee9;
    border-radius: 10px;
    width: 200px;
}

.member h2 {
    font-size: 24px;
    margin-bottom: 10px;
}

.member p {
    font-size: 18px;
    color: #666666;
}

.home-button {
    padding: 10px 20px;
    background-color: #efeee9;
    color: #000;
    border: none;
    cursor: pointer;
    margin-top: 20px;
}
