.about-page {
    margin: 50px auto;
    text-align: center;
    position:relative;
    background-color: transparent;
    height: 80vh;
    width: 100%;
}

.team-members {
    margin: 0 auto; 
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.member {
    padding: 20px;
    background-color: #efeee9;
    border-radius: 10px;
    box-sizing: border-box; 
    flex: 1 0 21%; 
    margin: 1%;
    max-width: 24%;
    min-width: 200px;
}

.member h2 {
    font-size: 24px;
    margin-bottom: 10px;
}

.member p {
    font-size: 18px;
    color: #666666;
}

.home-button {
    padding: 10px 20px;
    background-color: #efeee9;
    color: #000;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 0px;
}

.member {
    transition: transform 0.3s ease;
}
